/* * {
    background: black !important;
    color: white !important;
  } */
  
  .contraste-ativar {
    color: #fff !important;
    background: #000 !important;
  }

  .aumenta-fonte-ativar {
    font-size: xx-large !important;
  }

  .diminuir-fonte-ativar {
    font-size: small !important;
  }